extends layout.pug
block content
  .row
    .col-lg-8
      h1 El perrete de Pug
      p 
        |Lorem Aliqua dolor sit deserunt sit fugiat ullamco ex consequat est ad ex nostrud ea. Veniam magna magna eiusmod reprehenderit pariatur reprehenderit aliqua ad fugiat minim consequat deserunt laborum Lorem. Duis nisi exercitation mollit ex velit non do do anim qui commodo consequat aliquip.
    .col-lg-4
      img(src='assets/img/pug.svg', class='img-thumbnail')

